<header>
    <h1>Contact Us</h1>
<p>We'd love to hear from you! Whether you have a question, suggestion, or collaboration idea, feel free to reach out.
</p>
</header>

<section>
    <h2>General Inquiries:</h2>
    <p>For any general questions, suggestions, or feedback, email us at:</p>
    <p><strong>📧 <a href="mailto:tyagiayushi420@gmail.com">info@techtales.com</a></strong></p>

    <h2>Partnerships and Collaborations:</h2>
    <p>Interested in partnering or contributing to TechTales? Contact us at:</p>
    <p><strong>📧 <a href="mailto:tyagiayushi420@gmail.com">collaborate@techtales.com</a></strong></p>

    <h2>Support:</h2>
    <p>Having issues with the website or our content? Let us help! Reach our support team at:</p>
    <p><strong>📧 <a href="mailto:tyagiayushi420@gmail.com">support@techtales.com</a></strong></p>

    <h2>Follow Us on Social Media:</h2>
    <p>Stay updated with the latest posts and discussions:</p>
    <ul>
        <li><a href="#">Twitter: @TechTalesBlog</a></li>
        <li><a href="https://www.linkedin.com/in/ayushi-tyagi-380202228/">LinkedIn: TechTales Blog</a></li>
        <li><a href="#">Instagram: @TechTalesBlog</a></li>
    </ul>

</section>

<footer>
    <p>We look forward to connecting with you and sharing more tales of tech!</p>
</footer>